 p {
    border: solid 10px yellow;   
    padding: 10px;
    margin: 10px;
  }
  #second-paragraph {      
   padding: 20px 15px 10px 5px;
   margin: 15px 10px 5px 0px;      
   padding: 20px 10px;
   margin: 40px 20px;
    border: solid 3px yellow; 
  }